

header {
    
}

body {
    margin: 0px;
    padding: 0px;
    background: black;
    filter: hue-rotate(0deg);
    color: rgb(255, 212, 253);
}

.container::before {
    content: '';
    background: url("res/pat.png") repeat;
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.15;
    animation: bg 20s infinite linear;
}

@keyframes bg {
    0% {transform: scaleX(1); transform: scaleY(1);}
    50% {transform: scaleX(0.9999); transform: scaleY(0.9999);}
    100% {transform: scaleX(1); transform: scaleY(1);}
}

.container {
    padding: none;
    margin: none;
    width: calc(100vw - 8px);
    height: calc(100vh - 8px);
    z-index: 1;
}

.content {
    background: black;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    width: 90%;
    height: 597px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 212, 253);
    box-shadow: 0px 0px 2px rgba(255, 212, 253, 40);
    position: absolute;
    z-index: 2;
}

.page {
    height: 527px;
}

.headerbar {
    display: inline-block;
    width: 712px;
    height: 49px;
    left: 89px;
    float: right;
    z-index: 9;
}

.headerbg {
    position: absolute;
    opacity: 0.1;
    width: 712px;
    height: 54px;
    left: 89px;
}

@keyframes headerbganimation {
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(10deg);}
    100% {transform: rotateZ(0deg);}
}

.title {
    font-family: 'Syne Mono', monospace;
    font-size: 22px;
    color: rgb(255, 212, 253);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 12px;
    text-shadow: 2px 2px 2px rgba(255, 212, 253, 240);
    font-weight: Bold;
    display: inline-block;
    cursor: url('res/cursorgrab.png'), grab;
    z-index: 10;
}

.title:hover {
    animation: titlehover 1s 1;
    text-shadow: 4px 4px 4px rgba(255, 212, 253, 240);
}

@keyframes titlehover {
    0% {text-shadow: 2px 2px 2px rgba(255, 212, 253, 240);}
    100% {text-shadow: 4px 4px 4px rgba(255, 212, 253, 240);}
}

p  {
    font-family: 'Syne Mono', monospace;
    font-size: 14px;
    color: rgb(255, 212, 253);
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(255, 212, 253, 40);
}

.navi {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    font-family: 'Syne Mono', monospace;
    font-size: 12px;
    color:rgb(255, 212, 253);
    float: left;
}

.navi p {
    font-weight: 600;
    text-shadow: 0px 0px 4px rgba(255, 212, 253, 0.5);
}

ul {
    padding-left: 12px;
    margin-right: 12px;
    float: left;
}

li {
    margin-bottom: 16px;
    list-style-type:none;
    color: rgb(255, 212, 253);
    font-size: 12px;
}

.icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0; bottom: 0;
    margin: 2px;
    animation: icon-rotate 3s infinite;
}

@keyframes icon-rotate {
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(90deg);}
    100% {transform: rotateY(0deg);}
}

.last-update {
    font-family: 'Syne Mono', monospace;
    font-size: 8px;
    color: rgb(255, 212, 253);
    right: 0;
    top: 0;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(255, 212, 253, 20);
}

.welcome {
    font-family: 'Syne Mono', monospace;
    font-size: 15px;
    color: rgb(255, 212, 253);
    margin-top: 2px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(255, 212, 253);
}

.welcome:hover {
    animation-timing-function: ease-in-out;
    animation: color-animate 0.5s infinite;
}

.welcome h1 {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 0px;
    text-shadow: 0px 0px 2px rgba(255, 212, 253, 40);
}

.welcome p {
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    text-shadow: 0px 0px 2px rgba(255, 212, 253, 20);
}

@keyframes color-animate {
    0% { color: rgb(255, 212, 253); }
    50% { color: rgb(236, 212, 255);}
    100% { color: rgb(255, 212, 253); }
}

.button {
    background: none;
    border-style: double;
    /* background: rgb(255, 212, 253); */
    border-color: rgb(255, 212, 253);
    border-width: 3px;
    color: rgb(255, 212, 253);
    padding: 3px 4px 3px 4px;
    font-family: 'Syne Mono', monospace;
    font-size: 12px;
    text-align: center;
    background-repeat: repeat;
    transition: all 0.2s;
    text-decoration: none;
    animation-timing-function: ease-in-out;
    font-weight: normal;    
    /*cursor: url('res/cursorgrab.png'), grab;*/
    box-shadow: 1px 1px 3px rgba(255, 212, 253, 180);
    text-shadow: 0px 0px 2px rgba(255, 212, 253, 20);
}

.button:hover {
    font-weight: bold;
    box-shadow: 0px 0px 4px rgba(255, 212, 253, 180);
    animation: button-animate 0.5s infinite;
}

@keyframes button-animate {
    0% { border-color: rgb(255, 212, 253); box-shadow: 0px 0px 4px rgba(255, 212, 253, 180); }
    50% { border-color: rgb(236, 212, 255); box-shadow: 0px 0px 4px rgba(236, 212, 255, 180); }
    100% { border-color: rgb(255, 212, 253); box-shadow: 0px 0px 4px rgba(255, 212, 253, 180); }
}

@media (max-width: 1545px){
    iframe {
        width:80%;
        margin: auto;
    }
}
@media (min-width: 1546px){
    iframe {
        width: 90%;
    }
}


.frame {
    margin: auto;

}

iframe {
    height: 529px;
    border-style: solid !important;
    border-width: 1px;
    border-color: rgb(255, 212, 253);
    box-shadow: 0px 0px 2px rgba(255, 212, 253, 20);
    padding: 8px;
}

.post {
    flex-wrap: wrap;
    margin-bottom: 5px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: rgb(255, 212, 253);
    text-shadow: 0px 0px 2px rgba(255, 212, 253, 20);
    padding: 8px;
    color: rgb(255, 174, 251);
}

.post h1 {
    display: inline-block;
    font-family: 'Syne Mono', monospace;
    font-size: 18px;
    color: rgb(255, 212, 253);
}
.post h2 {
    display: inline-block;
    font-famity: 'Syne Mono', monospace;
    font-size: 16px;
    color: rgb(255, 212, 253);
}

.post h1:hover {
    animation-timing-function: ease-in-out;
    animation: color-animate 0.5s infinite;
}

.post p {
    font-family: 'Syne Mono', monospace;
    font-size: 14px;
    font-weight: normal;
    color: rgb(255, 212, 253);
    margin-top: 0px;
    margin-left: 5px;
}

.post > img {
    position: absolute;
    right: 0; 
    margin-top: 8px;
    display: block;
    width: 45px;
    height: 45px;
    image-rendering: crisp-edges;
    transition: ease-in-out 0.15s;
    filter: grayscale(100%) sepia(100%) hue-rotate(-90deg);
    box-shadow: 2px 2px 1px rgba(255, 212, 253, 240);
    z-index: 1;
}

.post > img:hover {
    box-shadow: 2px 2px 8px rgba(255, 212, 253, 240);
    width: 100px;
    height: 100px;
    filter: none;
    z-index: 1000;
}

.post a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 212, 253);
    text-shadow: 2px 2px 2px rgba(255, 212, 253, 1);
}

.post a:hover {
    text-decoration: underline;
}

.post > div img {
    width: 88px; 
    height: 31px;
    filter: grayscale(100%) sepia(100%) hue-rotate(-90deg);
}

.term {
    width: 8px;
    height: 12px;
    background:rgb(236, 212, 255);
    bottom: -8px;
    right: 0;
    position: absolute;
    z-index: 2;
    animation: termflash 2s infinite linear;
}

@keyframes termflash {
    0% {background:rgb(236, 212, 255);}
    50% {background:rgba(236, 212, 255, 0);}
    100% {background:rgb(236, 212, 255);}
}

@keyframes color-animate {
    0% { color: rgb(255, 212, 253); }
    50% { color: rgb(236, 212, 255);}
    100% { color: rgb(255, 212, 253); }
}

